body{
 
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    min-height: 100vh;
}

.container{
     width: 500px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    color:#4f46e5;
    margin-bottom:5px;
}

.subtitle{
    text-align:center;
    color:#666;
    margin-bottom:20px;
}

.step{
    display:none;
}

.active{
    display:block;
}

input{
   width:100%;
    padding:12px;
    margin:10px 0;
    border:2px solid #e5e7eb;
    border-radius:8px;
    box-sizing:border-box;
    transition:0.3s;
}




button{
     background:#4f46e5;
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:8px;
    cursor:pointer;
    margin-top:10px;
    transition:0.3s;
}

button:hover{
    transform:translateY(-2px);
    background:#3730a3;
}

.progress-container{
     width:100%;
    height:12px;
    background:#e5e7eb;
    border-radius:20px;
    margin-bottom:25px;
}

.progress-bar{
     height:100%;
    width:33%;
    background:linear-gradient(to right,#4f46e5,#7c3aed);
    border-radius:20px;
    transition:0.4s;
}